/* ESTILOS BASICOS Y RESET */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Flex', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: #141414;
}

html {
    font-size: 62.5%;
}

header,
main,
footer {
    width: 100%;
}

.animate__delay-05s {
    animation-delay: 0.5s;
}

/* Boton subir */
#arriba {
    position: absolute;
    top: 0;
}

.irArriba a {
    width: 100%;
    height: 100%;
}

.irArriba img {
    width: 45px;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: all 0.3s;
}

.irArriba img:hover,
.menuSocial img:hover {
    background-color: #c4c4c4;
    animation: subirAnimacion ease-in 0.8s;
}

@keyframes subirAnimacion {
    0% {
        transform: scale(1, 1);
    }

    20% {
        transform: scale(1.2, 0.5);
    }

    40% {
        transform: scale(0.8, 1.2);
    }

    60% {
        transform: scale(1.3, 0.6);
    }

    80% {
        transform: scale(0.9, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* fin boton subir */

/* FUENTES Y TEXTO */
.logo {
    font-size: 2.5rem;
    font-weight: 900;
}

/* ANIMACION LOGO */
.logoAnimado {
    animation: animacionLogo 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-delay: 0.3s;
}

@keyframes animacionLogo {
    0% {
        letter-spacing: -1rem;
        transform: translateZ(-100px);
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: normal;
    }
}

p {
    font-size: 1.8rem;
    line-height: 27px;
}

h2 {
    font-size: 4.8rem;
    font-weight: 700;
}

h3 {
    font-size: 3.8rem;
    font-weight: 700;
}

h5 {
    font-size: 2rem;
    text-transform: uppercase;
}

/* apratado para servicios banner grid */
.grid-banner {
    margin: 8rem 0 4rem 0;
    display: grid;
    grid-template-columns: repeat(24, auto);
    grid-template-rows: repeat(8, 60px);
    gap: 18px;
    padding: 0;
}

.caja1 {
    background: url("../assets/img/fotos/edificioAmarillo.jpg");
    grid-column: 1/5;
    grid-row: 1/5;
}

.caja2 {
    background: url("../assets/img/fotos/carouselProyectos/camaGris.jpg");
    grid-column: 5/11;
    grid-row: 2/5;
}

.caja3 {
    background: url("../assets/img/background/bgComplejo.jpg");
    grid-column: 11/16;
    grid-row: 3/6;
}

.caja4 {
    background: url("../assets/img/background/bgServicios.jpg");
    grid-column: 19/25;
    grid-row: 1/4;
}

.caja5 {
    background: url("../assets/img/fotos/casaModular.jpg");
    grid-column: 1/6;
    grid-row: 5/9;
}

.caja6 {
    background: url("../assets/img/fotos/cocinaVidrioEstantes.jpg");
    grid-column: 6/11;
    grid-row: 5/8;
}

.caja7 {
    background: url("../assets/img/fotos/carouselProyectos/interiorBano.jpg");
    grid-column: 11/14;
    grid-row: 6/8;
}

.caja8 {
    background: url("../assets/img/fotos/carouselProyectos/cocinaMadera.png");
    grid-column: 14/16;
    grid-row: 6/7;
}

.caja9 {
    background: url("../assets/img/background/bgIndex.jpg");
    grid-column: 16/22;
    grid-row: 4/8;
}

.caja10 {
    background: url("../assets/img/fotos/esquina.png");
    grid-column: 22/24;
    grid-row: 4/6;
}

.caja11 {
    background: url("../assets/img/background/bgIndex.jpg");
    grid-column: 24/25;
    grid-row: 4/6;
}

.caja12 {
    background: url("../assets/img/fotos/carouselProyectos/interiorConSillon.jpg");
    grid-column: 22/25;
    grid-row: 6/9;
}

.caja13 {
    background: url("../assets/img/fotos/interior.jpg");
    grid-column: 16/19;
    grid-row: 2/4;
}

.caja {
    background-color: darkslategrey;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

/* fin apartado para servicios banner grid */

/* CONTENEDORES GENERALES */
.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.tittle {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ************************************ GRID LAYOUT PROYECTOS *********************************** */
.gridLayoutProyectos {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        /* 3 columnas */
        "tittle tittle tittle"
        "box1 box1 box2"
        "box3 box4 box5"
        "box6 box7 box7"
        "box8 box8 box9"
        "box8 box8 box10"
        "box8 box8 box10";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 400px 400px 400px 200px 200px 100px;
    padding: 0 18px;
}

.gridLayoutProyectos .tittle {
    grid-area: tittle;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.box8 {
    grid-area: box8;
}

.box9 {
    grid-area: box9;
}

.box10 {
    grid-area: box10;
}

.boxGaleria {
    overflow: hidden;
}

.boxGaleriaImg {
    background-color: black;
}

.boxGaleria img {
    min-height: 100%;
    transition: opacity 0.35s;
}

.boxGaleriaImg:hover img {
    opacity: 0.3;
}

.box2,
.box4,
.box6,
.box10 {
    padding: 3rem;
    text-align: center;
}

.imgHorizontal img {
    max-width: 110%;
}

.imgVertical img {
    height: 100%;
}

/* ********************************** FINAL GRID LAYOUT PROYECTOS ******************************* */

.tarjetaBox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.tarjetaBox:last-child {
    margin-bottom: 0;
}

.iconBox {
    width: 115px;
    height: 115px;
    padding: 5px;
    margin-right: 2rem;
    border-radius: 5px;
}

.bg1 {
    background-color: #c4c4c4;
}

.bg2 {
    background-color: #EEE8BE;
}

.bg3 {
    background-color: #BEC1ED;
}

.bg4 {
    background-color: #B2DFDB;
}

/* CONTACTO Y UBICACION */
label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1rem;
}

input,
textarea {
    width: 100%;
    font-size: 1.3rem;
    background-color: #E5E5E5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 2.5rem;
}

input:focus-visible,
textarea:focus-visible {
    box-shadow: 0px 4px 7px 0px rgba(161, 161, 161, 0.8);
    font-size: 1.8rem;
}

iframe {
    width: 80%;
    height: 350px;
    border: none;
}

/* FOOTER */
footer {
    padding: 1.5rem 0;
    margin-top: 10rem;
}

footer .logo {
    font-size: 4rem;
}

footer .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* botones redes sociales */
.menuSocial {
    text-align: center;
    margin: 2rem 0;
}

.menuSocial img {
    width: 60px;
    padding: 10px;
    border-radius: 5px;
}

/************************** CLASES COMPLEMENTARIAS A BOOTSTRAP **************************/

/* HEADER */
.enlace {
    color: #141414;
    border-bottom: 3px solid transparent;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.enlace:hover {
    border-color: #141414;
    color:#141414
}

.enlace:active{
    color: #575757;
}

.activo {
    border-color: #141414;
}

.icon-mod {
    width: 30px;
    height: 30px;
}

/* MARGENES EXTRAS */
/* margin bottom */
.mb-6 {
    margin-bottom: 4rem;
}

.mb-7 {
    margin-bottom: 5rem;
}

.mb-8 {
    margin-bottom: 6rem;
}

/* margin top */
.mt-6 {
    margin-top: 4rem;
}

.mt-7 {
    margin-top: 5rem;
}

.mt-8 {
    margin-top: 6rem;
}

/* PADDING EXTRAS */
/* padding bottom */
.pb-6 {
    padding-bottom: 4rem;
}

.pb-7 {
    padding-bottom: 5rem;
}

.pb-8 {
    padding-bottom: 6rem;
}

/* padding top */
.pt-6 {
    padding-top: 4rem;
}

.pt-7 {
    padding-top: 5rem;
}

.pt-8 {
    padding-top: 6rem;
}

.letrasize {
    font-size: 1.6rem;
    font-weight: 500;
}

/* color font carousel */
.txtWhite {
    color: whitesmoke;
}

/* altura carousel */
.height-mod {
    max-height: 80vh;
    overflow: hidden;
}

.carousel-mod {
    margin-bottom: 10rem;
}

/* filtro para imagenes */
.img-filter {
    filter: brightness(0.6);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}

.card:hover .img-filter {
    filter: brightness(0.3);
}

/* estilos modificados para los botones */
.btn-mod:link {
    width: fit-content;
    font-size: 1.8rem;
    font-weight: 600;
    border: 2px solid #141414;
    border-radius: 0;
    transition: ease-in-out .4s;
    color: #141414;
    position: relative;
    background-color: none;
}

.btn-mod:hover {
    border: 2px solid #141414;
    background-color: #141414;
    color: whitesmoke;
}

.btn-mod:visited {
    background-color: #575757;
}

/* modificacion del modal en la pagina proyectos */
.modal-mod {
    width: 800px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #141414;
}

.carousel-wh {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-modal {
    width: 100%;
}

.pe-5 {
    padding-right: 3rem;
}

/************************** FIN CLASES BOOTSTRAP **************************/

/************************ MEDIASQUERIES TABLET ************************/
/************************ MEDIASQUERIES TABLET ************************/
/************************ MEDIASQUERIES TABLET ************************/
/************************ MEDIASQUERIES TABLET ************************/
/************************ MEDIASQUERIES TABLET ************************/
/************************ MEDIASQUERIES TABLET ************************/
@media (min-width: 576px) and (max-width: 991px) {

    html {
        font-size: 58%;
    }

    iframe {
        width: 100%;
    }

    h2 {
        font-size: 3.8rem;
    }

    .enlace {
        border: none;
    }

    .box2,
    .box4,
    .box6,
    .box10 {
        padding: 2rem 1 rem;
        text-align: center;
    }

    /* paddin 18px a los lados */
    .pm-18 {
        padding-left: 18px;
        padding-right: 18px;
    }

    /* padding 0 a la derecha */
    .pe-mobile-0 {
        padding-right: 0rem;
    }

    .img-filter {
        filter: brightness(0.3);
    }

    /* grid layout para pagina proyectos */
    .gridLayoutProyectos {
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-areas:
            /* 2 columnas */
            "tittle tittle"
            "box1 box1"
            "box2 box3"
            "box7 box7"
            "box4 box5"
            "box6 box6"
            "box8 box8"
            "box10 box10"
            "box9 box9";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(4, auto) 200px auto 200px auto;
    }

    .imgHorizontal img {
        height: 100%;
    }

    .imgVertical img {
        width: auto;
    }

    /* banner servicios tablet */
    .grid-banner {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 50px);
        gap: 10px;
    }

    .caja1 {
        grid-column: 1/2;
        grid-row: 1/5;
    }

    .caja2 {
        grid-column: 2/3;
        grid-row: 2/6;
    }

    .caja3 {
        grid-column: 3/4;
        grid-row: 1/5;
    }

    .caja4 {
        grid-column: 4/5;
        grid-row: 2/6;
    }

    .caja5 {
        grid-column: 5/6;
        grid-row: 1/5;
    }
}

/* fin banner servicios tablet */

/* ***********************MEDIAS QUERIES MOBILE*********************** */
/* ***********************MEDIAS QUERIES MOBILE*********************** */
/* ***********************MEDIAS QUERIES MOBILE*********************** */
/* ***********************MEDIAS QUERIES MOBILE*********************** */
/* ***********************MEDIAS QUERIES MOBILE*********************** */
/* ***********************MEDIAS QUERIES MOBILE*********************** */
@media (max-width: 575px) {

    html {
        font-size: 55.5555%;
    }

    h2 {
        font-size: 3.5rem;
    }

    .textBox {
        text-align: center;
    }

    .img-filter {
        filter: brightness(0.3);
    }

    .box2,
    .box4,
    .box6,
    .box10 {
        padding: 1.5rem;
        text-align: center;
    }

    /******************** BOOTSTRAP MOBILE ********************/
    .flex-grow-mod {
        flex-grow: 1;
    }

    /* paddin de 18px para mobile */
    .pm-18 {
        padding-left: 18px;
        padding-right: 18px;
    }

    /* padding 0 a la derecha */
    .pe-mobile-0 {
        padding-right: 0;
    }

    .modal-mod {
        width: 100%;
    }

    .enlace {
        border: none;
    }

    /****************** FIN BOOTSTRAP MOBILE ********************/

    .tarjetaBox {
        flex-direction: column;
        align-items: center;
    }

    .iconBox {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .card {
        margin-bottom: 18px;
    }

    /* grid layout pagina proyectos */
    .gridLayoutProyectos {
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-areas:
            "tittle tittle"
            "box1 box1"
            "box2 box3"
            "box7 box7"
            "box4 box5"
            "box6 box6"
            "box8 box8"
            "box10 box10"
            "box9 box9";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, auto);
    }

    .imgHorizontal img {
        height: 100%;
        object-fit: fill;
    }

    .imgVertical img {
        width: 100%;
    }

    /* banner pagina servicios */
    .grid-banner {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 40px);
        gap: 10px;
    }

    .caja1 {
        grid-column: 1/2;
        grid-row: 1/5;
    }

    .caja2 {
        grid-column: 2/3;
        grid-row: 2/6;
    }

    .caja3 {
        grid-column: 3/4;
        grid-row: 1/5;
    }

    iframe {
        width: 100%;
    }

}